<div class="container">
  <mat-toolbar color="primary">
    <h1 class="mat-headline">Welcome to {{ title }}</h1>
  </mat-toolbar>
  <h2 fxLayout="row" fxLayoutAlign="center" class="mat-title">Buttons</h2>
  <div fxLayout="row" fxLayoutAlign="center">
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
  </div>
  
  <div style="margin-top: 50px" fxLayout="row" fxLayoutAlign="center">
    <mat-slide-toggle color="accent" [checked]="darkMode$ | async" (change)="setDarkMode($event)">Dark Mode</mat-slide-toggle>
  </div>
</div> 

<router-outlet></router-outlet>

<div class="box" color="primary">
  
</div>
<button (click)="openFormModal()">Open Modal</button>

